<section class="about-ourvalues-bg" loading="lazy" style="background-image: url('{{ section.settings.image | img_url : 'master' }}')">
    <div class="container">
        <div class="about-ourvalues-text">
            <h3> {{ section.settings.title }} </h3>
            <p>{{ section.settings.description }} </p>
        </div>
    </div>
</section>


{% schema %}
{
    "name" : "Hero with text",
   "settings": [
            {
                "id" : "title",
            "type": "text",
            "label": "Title"
            },
            {
                "id" : "description",
            "type": "textarea",
            "label": "Description"
            },
            {
                "id" : "image",
            "type": "image_picker",
            "label": "Image"
            }
   ]
}
{% endschema %}
