<section class="about-rows-sec">
    <div class="container">
        {% for block in section.blocks %}
            <div class="row">
                <div class="col-md-6">
                    <div class="mission-statement-img">
                        <img src="{{ block.settings.image | img_url: 'master' }}" loading="lazy" alt="dyutih-do-img1">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mission-statement-text">
                        <p>{{ block.settings.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% schema %}
{
    "name" : "Statements 2",
   "settings": [
   ],
   "blocks" :[
        {
            "name" : "Statement",
           "type": "Statement",
           "limit" : 2,
           "settings": [
               {
                   "id" : "description",
                  "type": "textarea",
                  "label": "Description"
               },
               {
                   "id" : "image",
                  "type": "image_picker",
                  "label": "Image"
               }
           ]
        }
   ]
}
{% endschema %}