<section class="about-ourvalues-bg" style="background-image: url('assets/images/our-values-bg.png');">
    <div class="container">
        <div class="about-ourvalues-text">
            <h3>our <span>VALUES</span></h3>
            <p>Our ingredients will be guided and informed by our commitment to sustainable organic compounds that are safe and ethical.</p>
        </div>
    </div>
</section>


{% schema %}
{
    "name" : "Hero with text",
   "settings": [
            {
                "id" : "title",
            "type": "text",
            "label": "Title"
            },
            {
                "id" : "description",
            "type": "textarea",
            "label": "Description"
            },
            {
                "id" : "image",
            "type": "image_picker",
            "label": "Image"
            }
   ],
}
{% endschema %}
