<section class="about-rows-sec">
    <div class="container">
        
        {% for block in section.blocks %}
        <div class="row">
            <div class="col-md-6">
                <div class="mission-statement-img">
                    <img src="{{ block.settings.image | img_url: 'master' }}" alt="mission-statement">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mission-statement-text">
                    <h3> {{ block.settings.title }} </h3>
                    <p> {{ block.settings.description }} </p>
                </div>
            </div>
        </div>
        {% endfor %}
 
    </div>
</section>


{% schema %}
{
    "name" : "Statements",
   "settings": [
   ],
   "blocks" :[
        {
            "name" : "Statement",
           "type": "Statement",
           "limit" : 2,
           "settings": [
               {
                   "id" : "title",
                  "type": "text",
                  "label": "Title"
               },
               {
                   "id" : "description",
                  "type": "textarea",
                  "label": "Description"
               },
               {
                   "id" : "image",
                  "type": "image_picker",
                  "label": "Image"
               }
           ]
        }
   ]
}
{% endschema %}
