<div class="empty-div"></div>
<section class="about-banner shop-banner blog-detail-sec">
    <div class="shop-banner-img">
        <img src="{{ article.image | img_url: 'master' }}" alt="{{ article.title }}">
    </div>
    <div class="about-banner-text">
        <div class="container">
            <h4> {{ blog.title }} </h4>
            <h2> {{ article.title }} </h2>
        </div>
    </div>
</section>

{% schema %}
{
    "name" : "Article Banner",
   "settings": [
       
   ]
}
{% endschema %}