<section class="blog-detail-content-sec">
    <div class="container">
        <div class="blog-detail-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sollicitudin mattis nibh at tincidunt. Etiam mattis vulputate mi, sit amet cursus libero molestie scelerisque. Etiam ornare odio enim, lacinia rhoncus quam vestibulum nec. Proin efficitur enim eget nunc rhoncus dignissim. Morbi vel lacus ac massa ultrices viverra a quis lacus. Vestibulum ut arcu vel odio euismod pharetra. Integer non nisi ut nunc consectetur hendrerit. Aliquam ac eros velit. Nulla bibendum, elit vitae tincidunt elementum, ligula mauris imperdiet ante, vitae blandit tellus dui at est. Quisque facilisis nec tortor nec auctor. Nunc ipsum massa, tincidunt id laoreet id, laoreet vel libero. Fusce vitae pharetra massa. Morbi ultrices dui sed nunc imperdiet venenatis.</p>

            <p>Praesent elementum lectus eget felis faucibus, non bibendum nibh aliquet. Nullam pellentesque sapien non eros faucibus laoreet. Sed eu pretium lorem. Phasellus lorem justo, ullamcorper vel molestie ac, iaculis vitae tortor. Sed fermentum ante ut lectus convallis, vel interdum est lacinia. Vestibulum ornare condimentum risus ut vulputate. Mauris faucibus tortor in ipsum euismod, finibus euismod massa mollis.</p>

            <p class="border-left-para">Cras placerat et felis eget dictum. Sed ullamcorper, nulla in interdum suscipit, odio elit imperdiet sapien, sed auctor purus odio et orci. Nulla sit amet neque convallis, placerat massa quis, sollicitudin ex. Donec vulputate dui sed ante consectetur, at tincidunt dui suscipit. Phasellus rhoncus nulla ipsum, ut ultricies metus ornare eu.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sollicitudin mattis nibh at tincidunt. Etiam mattis vulputate mi, sit amet cursus libero molestie scelerisque. Etiam ornare odio enim, lacinia rhoncus quam vestibulum nec. Proin efficitur enim eget nunc rhoncus dignissim. Morbi vel lacus ac massa ultrices viverra a quis lacus. Vestibulum ut arcu vel odio euismod pharetra. Integer non nisi ut nunc consectetur hendrerit. Aliquam ac eros velit. Nulla bibendum, elit vitae tincidunt elementum, ligula mauris imperdiet ante, vitae blandit tellus dui at est. Quisque facilisis nec tortor nec auctor. Nunc ipsum massa, tincidunt id laoreet id, laoreet vel libero. Fusce vitae pharetra massa. Morbi ultrices dui sed nunc imperdiet venenatis.</p>

            <p>Praesent elementum lectus eget felis faucibus, non bibendum nibh aliquet. Nullam pellentesque sapien non eros faucibus laoreet. Sed eu pretium lorem. Phasellus lorem justo, ullamcorper vel molestie ac, iaculis vitae tortor. Sed fermentum ante ut lectus convallis, vel interdum est lacinia. Vestibulum ornare condimentum risus ut vulputate. Mauris faucibus tortor in ipsum euismod, finibus euismod massa mollis.</p>
                
            <p>Nulla facilisi. Vivamus egestas, tellus vel varius bibendum, nibh enim fringilla massa, eu gravida diam est quis lacus. Donec ac viverra dolor. Integer suscipit erat magna, sit amet aliquam justo feugiat at. Donec vitae dolor iaculis, hendrerit elit id, pretium mauris. Fusce sagittis orci non ante consectetur hendrerit. Cras tempus lacus a lacinia vestibulum. Aenean ac est eu magna ullamcorper gravida.</p>
                
            <p>Sed ac augue odio. Nunc leo felis, congue nec commodo quis, bibendum et sem. Maecenas non maximus nisi. Quisque mi lorem, varius at aliquam at, ullamcorper a dolor. Sed rutrum massa in elit facilisis, at sagittis sem pellentesque. Sed dapibus sagittis sagittis. Sed felis nibh, fermentum a velit vel, faucibus rutrum dui. Praesent lacus purus, viverra et consectetur eu, pulvinar vitae lacus. Aliquam tristique varius neque, nec vulputate tellus viverra eu. Cras efficitur suscipit sapien imperdiet luctus.</p>
        </div>
        <div class="back-share-blogs">
            <a href="#" class="back-blog-link"><img src="assets/images/button-arrow.svg" alt="">back to all blogs</a>
            <div class="share-blogs">
                <h5>Share:</h5>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>