<section class="blog-content-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="blog-col">
                    <a href="#" class="blog-img"><img src="assets/images/blog-img1.png" alt="blog-img1"></a>
                    <div class="blog-text">
                        <h5>Definig beauty, defining you</h5>
                        <a href="#">read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-col">
                    <a href="#" class="blog-img"><img src="assets/images/blog-img2.png" alt="blog-img2"></a>
                    <div class="blog-text">
                        <h5>That glow which matters</h5>
                        <a href="#">read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-col">
                    <a href="#" class="blog-img"><img src="assets/images/blog-img3.png" alt="blog-img3"></a>
                    <div class="blog-text">
                        <h5>Let’s introduce Skin with the shine</h5>
                        <a href="#">read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-col">
                    <a href="#" class="blog-img"><img src="assets/images/blog-img4.png" alt="blog-img4"></a>
                    <div class="blog-text">
                        <h5>Divine Path for Bright life</h5>
                        <a href="#">read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-col">
                    <a href="#" class="blog-img"><img src="assets/images/blog-img5.png" alt="blog-img5"></a>
                    <div class="blog-text">
                        <h5>Bring Perfect Beauty</h5>
                        <a href="#">read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-col">
                    <a href="#" class="blog-img"><img src="assets/images/blog-img6.png" alt="blog-img6"></a>
                    <div class="blog-text">
                        <h5>Let’s Butterfly Touch You</h5>
                        <a href="#">read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-col">
                    <a href="#" class="blog-img"><img src="assets/images/blog-img7.png" alt="blog-img7"></a>
                    <div class="blog-text">
                        <h5>Elegance In Every Way</h5>
                        <a href="#">read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-col">
                    <a href="#" class="blog-img"><img src="assets/images/blog-img8.png" alt="blog-img8"></a>
                    <div class="blog-text">
                        <h5>It all for being a girl</h5>
                        <a href="#">read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-col">
                    <a href="#" class="blog-img"><img src="assets/images/blog-img9.png" alt="blog-img9"></a>
                    <div class="blog-text">
                        <h5>Better then Before</h5>
                        <a href="#">read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-col">
                    <a href="#" class="blog-img"><img src="assets/images/blog-img10.png" alt="blog-img10"></a>
                    <div class="blog-text">
                        <h5>Revitalize you every moment</h5>
                        <a href="#">read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-col">
                    <a href="#" class="blog-img"><img src="assets/images/blog-img11.png" alt="blog-img11"></a>
                    <div class="blog-text">
                        <h5>Be apart with a glossy shine</h5>
                        <a href="#">read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-col">
                    <a href="#" class="blog-img"><img src="assets/images/blog-img12.png" alt="blog-img12"></a>
                    <div class="blog-text">
                        <h5>Something for everyone</h5>
                        <a href="#">read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>