<section class="faqs-content">
    <div class="container">
        <div class="accordion_container">
            {% for block in section.blocks %}
            {% if block.settings.quiz != blank %}                
            <div class="accordian-tabs">
                <div class="accordion_head">
                    <h5> {{ block.settings.quiz }}
                        <span class="button-arrow-img"><img src="{{ 'button-arrow.svg' | asset_url }}" alt="button-arrow"></span>
                    </h5>
                </div>
                <div class="accordion_body" style="display: none;">
                    <p>
                        {{ block.settings.answer }}
                    </p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
{
    "name" : "FAQ Content",
    "settings" : [
       
    ],
    "blocks":[
        {
            "name": "FAQ",
           "type": "FAQ",
            "settings" :[
                {
                    "type": "textarea",
                    "id": "quiz",
                    "label": "Question"
                },
                {
                    "type": "textarea",
                    "id": "answer",
                    "label": "Answer"
                }
            ]
        }
    ]
}
{% endschema %}