<section class="home-banner home-parallex-video">
    {% if section.settings.video_url != blank %}
    <video autoplay muted loop id="myVideo">
        <source src="{{ section.settings.video_url }}" type="video/mp4">
    </video>    
    {% endif %}
    
</section>

{% schema %}
{
    "name": "Product Video",
    "settings" : [
       {
           "type": "text",
           "id": "video_url",
           "label": "Video URL",
           "info": "Upload the video in the files and paste the url here."
       }
    ]
}
{% endschema %}