<section class="about-rows-sec skin-care-kits">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="mission-statement-text">
                    <h6>Cleansing</h6>
                    <h2>DYUTiH Luxury <span>Cleansing Collection</span></h2>
                    <p>The Luxury Cleansing Collecton Kit features DYUTIH's signature cleansers to remove makeup and
                        impurities as it preprares skin for the next steps in the skin care regimen.</p>
                    <div class="custom-site-btn">
                        <a href="#"><img src="assets/images/button-arrow.svg" alt="">SHOP NOW </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mission-statement-img">
                    <img src="assets/images/care-kit-img1.png" alt="care-kit-img1">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mission-statement-text">
                    <h6>Glow Boosting</h6>
                    <h2>DYUTiH Glow-Boosting <span>Collection</span></h2>
                    <p>The Glow-Boosting Collection Kit highlighhts DYUTIH's targeted skin care treatments that help to boost skin radiance for a smoother, softer, glowing complexion.</p>
                    <div class="custom-site-btn">
                        <a href="#"><img src="assets/images/button-arrow.svg" alt="">SHOP NOW </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mission-statement-img">
                    <img src="assets/images/care-kit-img2.png" alt="care-kit-img2">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mission-statement-text">
                    <h6>Glow Boosting</h6>
                    <h2>DYUTiH Glow-Boosting <span>Collection</span></h2>
                    <p>The Glow-Boosting Collection Kit highlighhts DYUTIH's targeted skin care treatments that help to boost skin radiance for a smoother, softer, glowing complexion.</p>
                    <div class="custom-site-btn">
                        <a href="#"><img src="assets/images/button-arrow.svg" alt="">SHOP NOW </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mission-statement-img">
                    <img src="assets/images/care-kit-img3.png" alt="care-kit-img3">
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name" : "Skin Care Collection",
    "settings" :[
    ],
    "blocks":[
        {
            "name":"Skin Care Collection",
            "type":"skin-care-collection",
            "settings":[
               {
                   "type": "collection",
                   "id": "collection",
                   "label": "Collection"
               }
            ]
        }    
    ]
}
{% endschema %}